#css_loader_object {
	position:fixed;
    top: 50%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.cssload-wrap {
	text-align: center;
	line-height: 475px;
}
	
.cssload-container {
	display: inline-block;
}

.cssload-dots {
	display: inline-block;
	position: relative;
}
.cssload-dots:not(:last-child) {
	margin-right: 21px;
}
.cssload-dots:before, .cssload-dots:after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
}
.cssload-dots:nth-child(1):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -1.71s;
		-o-animation-delay: -1.71s;
		-ms-animation-delay: -1.71s;
		-webkit-animation-delay: -1.71s;
		-moz-animation-delay: -1.71s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(1):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -1.71s;
		-o-animation-delay: -1.71s;
		-ms-animation-delay: -1.71s;
		-webkit-animation-delay: -1.71s;
		-moz-animation-delay: -1.71s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(2):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -3.42s;
		-o-animation-delay: -3.42s;
		-ms-animation-delay: -3.42s;
		-webkit-animation-delay: -3.42s;
		-moz-animation-delay: -3.42s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(2):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -3.42s;
		-o-animation-delay: -3.42s;
		-ms-animation-delay: -3.42s;
		-webkit-animation-delay: -3.42s;
		-moz-animation-delay: -3.42s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(3):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -5.13s;
		-o-animation-delay: -5.13s;
		-ms-animation-delay: -5.13s;
		-webkit-animation-delay: -5.13s;
		-moz-animation-delay: -5.13s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(3):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -5.13s;
		-o-animation-delay: -5.13s;
		-ms-animation-delay: -5.13s;
		-webkit-animation-delay: -5.13s;
		-moz-animation-delay: -5.13s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(4):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -6.84s;
		-o-animation-delay: -6.84s;
		-ms-animation-delay: -6.84s;
		-webkit-animation-delay: -6.84s;
		-moz-animation-delay: -6.84s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(4):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -6.84s;
		-o-animation-delay: -6.84s;
		-ms-animation-delay: -6.84s;
		-webkit-animation-delay: -6.84s;
		-moz-animation-delay: -6.84s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(5):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -8.55s;
		-o-animation-delay: -8.55s;
		-ms-animation-delay: -8.55s;
		-webkit-animation-delay: -8.55s;
		-moz-animation-delay: -8.55s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(5):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -8.55s;
		-o-animation-delay: -8.55s;
		-ms-animation-delay: -8.55s;
		-webkit-animation-delay: -8.55s;
		-moz-animation-delay: -8.55s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(6):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -10.26s;
		-o-animation-delay: -10.26s;
		-ms-animation-delay: -10.26s;
		-webkit-animation-delay: -10.26s;
		-moz-animation-delay: -10.26s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(6):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -10.26s;
		-o-animation-delay: -10.26s;
		-ms-animation-delay: -10.26s;
		-webkit-animation-delay: -10.26s;
		-moz-animation-delay: -10.26s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(7):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -11.97s;
		-o-animation-delay: -11.97s;
		-ms-animation-delay: -11.97s;
		-webkit-animation-delay: -11.97s;
		-moz-animation-delay: -11.97s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(7):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -11.97s;
		-o-animation-delay: -11.97s;
		-ms-animation-delay: -11.97s;
		-webkit-animation-delay: -11.97s;
		-moz-animation-delay: -11.97s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(8):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -13.68s;
		-o-animation-delay: -13.68s;
		-ms-animation-delay: -13.68s;
		-webkit-animation-delay: -13.68s;
		-moz-animation-delay: -13.68s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(8):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -13.68s;
		-o-animation-delay: -13.68s;
		-ms-animation-delay: -13.68s;
		-webkit-animation-delay: -13.68s;
		-moz-animation-delay: -13.68s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(9):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -15.39s;
		-o-animation-delay: -15.39s;
		-ms-animation-delay: -15.39s;
		-webkit-animation-delay: -15.39s;
		-moz-animation-delay: -15.39s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(9):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -15.39s;
		-o-animation-delay: -15.39s;
		-ms-animation-delay: -15.39s;
		-webkit-animation-delay: -15.39s;
		-moz-animation-delay: -15.39s;
	background-color: #777;
}
.cssload-dots:nth-child(10):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.9s linear infinite;
		-o-animation: cssload-animBefore 1.9s linear infinite;
		-ms-animation: cssload-animBefore 1.9s linear infinite;
		-webkit-animation: cssload-animBefore 1.9s linear infinite;
		-moz-animation: cssload-animBefore 1.9s linear infinite;
	animation-delay: -17.1s;
		-o-animation-delay: -17.1s;
		-ms-animation-delay: -17.1s;
		-webkit-animation-delay: -17.1s;
		-moz-animation-delay: -17.1s;
	background-color: rgb(0,102,0);
}
.cssload-dots:nth-child(10):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.9s linear infinite;
		-o-animation: cssload-animAfter 1.9s linear infinite;
		-ms-animation: cssload-animAfter 1.9s linear infinite;
		-webkit-animation: cssload-animAfter 1.9s linear infinite;
		-moz-animation: cssload-animAfter 1.9s linear infinite;
	animation-delay: -17.1s;
		-o-animation-delay: -17.1s;
		-ms-animation-delay: -17.1s;
		-webkit-animation-delay: -17.1s;
		-moz-animation-delay: -17.1s;
	background-color: #777;
}




@keyframes cssload-animBefore {
	0% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-o-keyframes cssload-animBefore {
	0% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-o-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-ms-keyframes cssload-animBefore {
	0% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-webkit-keyframes cssload-animBefore {
	0% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-moz-keyframes cssload-animBefore {
	0% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@keyframes cssload-animAfter {
	0% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-o-keyframes cssload-animAfter {
	0% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-o-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-ms-keyframes cssload-animAfter {
	0% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-ms-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-webkit-keyframes cssload-animAfter {
	0% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-moz-keyframes cssload-animAfter {
	0% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-moz-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}
